*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
li{
    list-style: none;
}
.category_container_main{
    background: #262626;

}
.category_container{
    display: flex;
    justify-content: space-between;
    color: white;
}
.category_container_item{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.men_clintele_container{
    display: flex;
    align-items: center;
}
.right_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.category_logo_container{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
#category_dropDown_container{
    font-family: 'Lato', sans-serif;
font-weight: 400 !important;
font-size: 12px !important;
}

      .men_clintele_heading_container_first{
        font-size: 12px;
font-weight: 700;
      }
      .men_clintele_heading_container_second{
        font-size: 12px;
        font-weight: 400;
        color: #C4C4C4;
      }
      .right_container_item{
        font-size: 14px;
        font-weight: 400;
      }
      .all_category_container{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        font-size: 14px;
        font-weight: 400;
      }
      .flash_header{
        display: flex;
        justify-content: space-between;
      }
      .flash_sale_div{
        font-size: 28px;
        font-weight: 700;
      }
      .view_all_div{
        font-size: 12px;
        font-weight: 400;
      }
      .flash_container_main{
        margin-top: 2rem;
      }
      .deal_countdown_container{
        display: flex;
    gap: 12px;
    align-items: center;
      }
      .deal_container_heading{
        font-size: 14px;
        font-family: 800;
        color: #9D9D9D;
      }
      .deal_container_item_hours_heading{
        font-size: 18px;
        font-weight: 800;
      }
      .deal_container_item_min_heading{
        font-size: 12px;
        font-weight: 400;
        color: #9D9D9D;
      }
      .shopping_item_name{
        font-size: 16px;
        font-weight: 700;
      }
      .shopping_item_des{
        font-size: 12px;
        font-weight: 400;
        color: #555555;
      }
      .shopping_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* box-shadow: 10px #000000; */
      }
      .shopping_item_name_des{
        display: flex;
        flex-direction: column;
      }
      .price{
        font-size: 14px;
        font-weight: 700;
        color: #FF2E00;
      }
      .discount{
        font-size: 12px;
        font-weight: 400;
        color: #555555;
      }
      .descount_perc{
        font-size: 8px;
        font-weight: 600;
        /* background-color: #FF2E00; */
        /* color: white; */
     /* padding: 
     3px, 6px, 3px, 6px; */
        border-radius: 2px;

      }
      .shopping_item_rate{
        display: flex;
        gap: 1rem;
      }
      /*     display: flex;
    gap: 1rem; */
    .shopping_item_detail{
        margin-top: 1rem;
    }
    .shopping_item_container{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .trending_must_item_detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: white;
        padding: 15px 10px;
        border-radius: 0px 0px 10px 10px;
    }
    .shop_button{
        
    font-size: 14px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px 10px;
    }
    .trending_must_item_description1{
        font-size: 16px;
        font-weight: 700;
    }
    .trending_must_item_description2{
        font-size: 14px;
        font-weight: 400;
        color: #C4C4C4;
    }
    .trendind_item_cloths{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .top_hundred_des1_para1{
        font-size: 12px;
        font-weight: 700;
    }
    .top_hundred_des1_para2{
        font-size: 10px;
        font-weight: 400;
        color: #555555;
    }
    .top_hundred_des{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .price2{
        font-size: 14px;
        font-weight: 800;
        color: #FF2E00;
      }
      .shopping_item_rate2{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0 10px;
      }
      .shopping_item_star1{
        padding:  0px 10px;
      }
      .explore_heading{
        font-size: 36px;
        font-weight: 800;
      }
      .description_explore{
        font-size: 28px;
        font-weight: 400;
      }
      .link_explore{
        font-size: 20px;
        font-weight: 400;
      }
      .explore_all_category_div{
        display: flex;
        align-items: center;
        color: white;
        background: #BF2E3B;
      }
      .left_div{
        padding-left: 10px;
      }
      .explore_all_category{
        margin-top: 4rem;
        margin-bottom: 3rem;
      }
      .luminae_store_heading{
        display: flex;
        font-size: 32px;
        font-weight: 700;
        justify-content: center;
      }
      .luminae_store{
        background-color: #7296AB;
        width: 80%;
        justify-content: center;
        margin: auto;
        width: 40%;
        color: white;
        padding: 20px;
        padding-bottom: 2.5rem;
        border-radius: 8px;
      }
      .footer_header_part2{
        display: flex;
        justify-content: space-evenly;

flex-wrap: wrap;
      }
     
      .footer_header_ul :first-child{font-size: 14px;
        font-weight: 700;
    margin-bottom: 1rem;}
        .footer_header_ul li{
            font-size: 14px;
            font-weight: 400;
            padding: 10px;
        }
        .footer_header_part2{
background-color: #D1E2EB;
padding-top: 7rem;
padding-bottom: 2rem;
        }
        .footer_part_3{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            border-bottom: 4px solid #D9D9D9;
        }
        .footer_part_4 {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            margin-bottom: 1rem;
            
        }
        .right_footer_container img{
            width: 24px;
            height: 24px;
        }
        .right_footer_container{
            display: flex;
            gap: 1rem;
        }
        .left_footer_container{
            font-size: 14px;
            font-weight: 400;
        }
        .mid_footer_container{
            font-size: 14px;
            font-weight: 400;
            color: #9D9D9D;
        }
        .button_container{
            display: flex;
            justify-content: center;
        
        }
        .input_button button{
          border: none;
          background: white;
        }
        .luminae_store{
     position: absolute;
    right: 25%; 
    left: 25%;
    bottom: 75%;
        }
       .footer_header_main{
        position: relative;
        margin-top: 10.5rem;
       }
       .summer_essential{
        font-size: 20px;
        font-weight: 700;
       }
       .summer_essential_off{
        font-size: 20px;
        font-weight: 700;
        color: #FF2E00;
       }
       .summer_essential_months{
        font-size: 14px;
        font-weight: 400;
        background-color: #262626;
        color: white;
        padding: 10px;
        position: relative;
        top: 1rem;
    
       }
       .summer_essential_div{
        width: 15%;
        background-color: white;
       }
       .Caftans{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 2rem;
        text-transform: uppercase;
       }
       .glaim{
        font-size: 28px;
        font-weight: 500;
       }
       .banner_button{
        font-size: 14px;
        font-weight: 500;
        background-color: #4172DC;
        color: white;
        border: none;
        padding: 16px 32px 16px 32px;
        border-radius: 2px;
        margin-top: 1rem;
       }
       .banner_container{
        display: flex;
        align-items: center;
        background-color: rgba(65, 114, 220, 1);
        color: white;
       }
       .right_section_banner{
        width: 70%;
       }
       .summer_essential_div{
        position: absolute;
        left: 29.5%;
        top: 29.5%;
        padding-top: 1.5rem;
       }
   .banner_container_main{
    position: relative;
    margin-top: 1rem;
   }
   .select_container{
    background-color: white !important;
    border: 2px solid white !important;
   }
   .search_input{
    border: 2px solid white !important;
   }
   .navbar_item{
    font-size: 14px;
    font-weight: 400;
    color: rgba(85, 85, 85, 1);
   }
   .trendind_item_cloths_item{
    margin-top: 1rem;
   }
   /* filter css */
   .filter_header_item{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
   }
   .filter_header_second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   }
   .filter_header_left{
    display: flex;
    gap: 1rem;
    align-items: center;
   }
   .women_para{
    color: #262626;
    font-size: 20px;
    font-weight: 500;
   }
   .item_para{
    font-size: 16px;
    font-weight: 400;
    color: #555555;
   }
   .fiter_header_main{
    background-color: #E9E9E9;
   }
   .filter_header{
    margin-top: 2rem;
    margin-bottom: 2rem;
   }
   .all_category_filter{
    font-size: 16px;
    font-weight: 700;
    color: #262626;
   }
   .brand_search_size_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .brand_search_size_item1{
    font-size: 14px;
    font-weight: 400;
    color: #555555;
   }
   .brand_search_size_item2{
    font-size: 12px;
    font-weight: 400;
    color: #9D9D9D;
   }

.button_group_colour{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 0px; */
  margin-top: 0.5rem;
}
.button_group_colour button{
  border: 1px solid #D9D9D9;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
}
.min{
  font-size: 14px;
  font-weight: 400;
  color: #9D9D9D;
}
.product_min_max{
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}
.min_max_container{
  display: flex;
  justify-content: space-between;
}
.all_category_container_main{
  margin-top: 2rem;
}
.all_category_item_container{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
  /* width: 73%;   */
  justify-content: flex-end;
}
.all_category_container1 {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 400;
}
.all_category_item_filter{
  width: 30%;
}
.colour_span{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: 
  #FF2E00;
}
/* navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.product_details_header_para{
font-size: 14px;
font-weight: 700;
}
.left_containter_img{
  display: flex;
  flex-direction: column;
}
.cloths_container{
  display: flex;
  gap: 5px;
}
.dress_name{
  font-size: 22px;
  font-weight: 700;
}

.dress_price{
  font-size: 20px;
  font-weight: 700;
}
.dress_size_para{
  font-size: 16px;
  font-weight: 700;
}
.dress_size_button button{
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #9D9D9D;
  background-color: white;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 10px;
}
.dress_size{
  display: flex;
  gap: 5rem;
margin-top: 2rem;
/* align-items: center; */
}
.dress_color{
  width: 13.24px;
  height: 13.24px;
  background-color: #750430;
  border-radius: 50%;
}
.free_shipping_container_para2{
  font-size: 12px;
  font-weight: 700;
  color: #9D9D9D;

}
.free_shipping_container_para1{
  font-size: 14px;
  font-weight: 700;
  color: #262626;
}
.free_shipping_container{
  display: flex;
  flex-direction: column;
}
.dress_size_button{
  display: flex;
  gap: 10px;
}
.button_quantity_container{
  display: flex;
  align-items: center;
}
.dress_size1{
  display: flex;
  gap: 3rem;
}
.button_quantity_container button{
  border: none;
  background-color: white;
  color: #C4C4C4;
  /* border: none; */
  font-size: 30px;
  position: relative;
  bottom: 10px;

}

.dress_size2{
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  align-items: center;
}
.discount_available{
  font-size: 14px;
  font-weight: 700;
  font-weight: 700;
}
.dress_rate{
  font-size: 18px;
  font-weight: 700;
}
.dress_insurance{
  font-size: 10px;
  font-weight: 700;
  font-size: #555555;
}
.dress_price_container{
  background: #E9E9E9;
  padding: 10px;
  border-radius: 10px;
}
.shopping_button{
  display: flex;
  gap: 10px;
  margin-top: 2rem;
}
.button1{
  width: 50%;
  padding: 10px ;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.product_detail_review_payment{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  gap: 3rem;
  font-size: 14px;
color: #9D9D9D;
text-transform: uppercase;
}
.product_description_container{
  display: flex;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 1rem;
}
.product_description_container p{
  font-size: 16px;
  font-weight: 700;
  margin-top: 1rem;
}
.product_description_container li{
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
  color: #555555;
}
.dreee_name1{
  font-size: 14px;
  font-weight: 700;
  color: #262626;
}
.rate_dollar{
  color: #FF2E00;
  font-size: 14px;
  font-weight: 700;
}
.mobile_navbar{
  display: none;
}
.rate_cut{
  font-size: 12px;
  color: #555555;
  font-weight: 400;
}
.rate_discound_perc{
  font-size: 8px;
  font-weight: 600;
}
.dress_options_item{
  display: flex;
  /* gap: 10px; */
}
.dress_des_para{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.dress_price_1_container{
  display: flex;
  align-items: center;
  gap: 5px;
}
.all_category_item_filter1{
  width: 100%;
}
.img_dree_options{
  display: flex;
  gap: 10px;
}
.add_to_card_button{
  border: none;
  color: #262626;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #7B7B7B;
  padding: 8px;
  border-radius: 10px;
}
.dress_options{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
/*  */
   /* medi@a query */
   @media screen and (max-width: 500px) {
    .mobile_navbar{
  display: block;
    }
    .all_category_item_filter{
      display: none;
    }
  }
   @media screen and (max-width: 1000px) {
    .men_clintele_container{
  display: none;
    }
  }
    @media screen and (max-width: 770px) {
    .category_container_main{
  display: none;
    }
    .footer_part_4{
      display: none;
    }
  }
  @media screen and (max-width: 1440px) {
    .summer_essential_div{
  display: none;
    }
  }
  @media screen and (max-width: 1024px) {
    .banner_container_main{
  display: none;
    }
    .all_category_container{
      display: none;
    }
  }
  @media screen and (max-width: 1200px) {
    .explore_all_category{
  display: none;
    }
    .luminae_store{
      display: none;
    }
    .footer_header_main{
      margin-top: 2.5rem;
    }
  }